a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1128px;
  gap: 24px;
  padding-top: 24px;
  margin: 0 auto;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
  transition: all 250ms ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  flex-basis: auto;
}
